body {
	background: #1e1e2e;
	overflow: hidden;
	color: #cdd6f4;
}

.box {
	position: absolute;
	background-color: #f5c2e7;
}

.box > div {
	position: relative;
	background-color: #11111b;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	margin: 5px;
}

.box > div > * {
	margin: 0;
}